{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Club{% endblock title %}
{% block css_files %}
<link rel="stylesheet" href="{% static "golyapp/klub.css" %}">
{% endblock css_files %}
{% block content %}
<div class=tlac>
<a class="button" href="{% url "homepage" %}">Návrat</a>
<a class="button" href="{% url "nation" %}">Národy</a>
<a class="button" href="{% url "archivne" %}">Sezóny</a>
<a href="{% url "czech" %}" class="button">Slováci</a>
</div>
<form method="POST">
    {% csrf_token %}
    <select name="sezo" onchange="this.form.submit()">
        {% for s in sez  %}
        <option value="{{s}}" {% if s == vybsez %}selected{% endif %}>{{ s }}</option>
        
        {% endfor %}

    </select>
    <select name="klub" onchange="this.form.submit()">
        {% for k in klu %}
        <option value="{{k.kod}}" {% if k.kod == vybklu %}selected{% endif %}>{{k.cely_nazov_klubu}}</option>
        {% endfor %}
    </select>
</form>
{% for l in logo %}
<img src="{{l.LogoURL}}" alt="" class="log">
{% endfor %}
<table>
    <thead>
        <tr>
            <th>Por.</th>
            <th>Meno</th>
            <th>Poz.</th>
            <th>Z</th>
            <th>G</th>
            <th>A</th>
            <th>B</th>
            <th>+-</th>
            <th>Vyl.</th>
            <th>GvP</th>
            <th>GvO</th>
            <th>VG</th>
            <th>GvOT</th>
            <th>S</th>
            <th>%s</th>
            <th>%b</th>
        </tr>
    </thead>
    <tbody>
        {% for i in stat %}
        <tr>
            <td>{{forloop.counter}}.</td>
            <td><a href={% url "detp" i.id_player %}>{{i.meno}}</a></td>
            <td>{{i.pozicia}}</td>
            <td class="vpravo">{{i.sumazapasov}}</td>
            <td class="vpravo">{{i.sumagolov}}</td>
            <td class="vpravo">{{i.sumaasistencii}}</td>
            <td class="vpravo">{{i.sumabodov}}</td>
            <td class="vpravo">{{i.sumaplus}}</td>
            <td class="vpravo">{{i.sumav}}</td>
            <td class="vpravo">{{i.sumagvp}}</td>
            <td class="vpravo">{{i.sumagvo}}</td>
            <td class="vpravo">{{i.sumav_g}}</td>
            <td class="vpravo">{{i.sumagvot}}</td>
            <td class="vpravo">{{i.sumastrely}}</td>
            <td class="vpravo">{{i.priemerperc}}</td>
            <td class="vpravo">{{i.priemerbuly}}</td>
        </tr>
     
        {% endfor %}
    </tbody>
</table>





{% endblock content %}